* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*------------------Body------------------*/

body {
  display: grid;
  height: 100vh;
  margin: 0;
  width: 100%;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 10%; 
  grid-template-areas: 
    "header header header"
    "nav main main"
    "nav main main";
}

/*-------------------Header----------------*/

.page__header {
  align-items: center; 
  background-color: #1F1F3D;
  display: flex;
  grid-area: header;
  grid-template-rows: 10%;
  justify-content: space-between;
  padding: .75em;
}

.header__h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 800;
}

.header__span {
  color: #FFC20C;
}

.header__div {
  display: flex;
  height: 100%;
  width: 25%;
}

.header__input {
  border-radius: 0 3px 3px 0;
  border:1px solid white;
  padding-left: .25em;
  width: 100%;
}

::placeholder {
  font-size: 1em;
}

.header__btn {
  background-color: #C8D3D9;
  border-radius: 3px 0 0 3px;
  height: 100%;
  padding: .25em .5em 0 .5em;
  width: 60px;
}

.button:disabled {
  background-color: lightgrey;
}

.input {
  font-size: 1.5em;
}

/*-------------------Nav----------------*/

.nav {
  grid-area: nav;
  background-color: #587A8A;
}

.form__btns {
  background-color: #1F1F3D;
  border-color: #1F1F3D;
  border-radius: 3px;
  color: white;
  font-size: 1.5em;
  height: 50px;
}

.form__inputs {
  border-radius: 3px;
  border: 2px solid #1F1F3D;
  height: 50px;
}

.nav__form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

form >* {
  margin: 1em 0 1em 0;
}

.form__labels {
  color: #F3F6F7;
  margin-bottom: 0;
}

.form__div {
  display: flex;
}

.form__ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
}

.form__li {
  color: white;
  display: flex;
  margin: .75em 0 .75em 0;
}

.form__liImg {
  height: 20px;
  margin-right: .75em;
  width: 20px;
}

.div__btn {
  background-color: #1F1F3D;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #1F1F3D;
  height: 50px;
  padding: .5em;
  width: 50px;
}

.div__inputAddTask {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 2px solid #1F1F3D;
  width: 100%;
}

.form__btnsClear {
  margin-bottom: 0;
}

hr {
  border-color: #3E6577;
}

.form__divFilter {
  padding: 1em;
}

.form__btnsFilter {
  width: 100%;
}

/*-------------------Main----------------*/

.main {
  column-gap: 30px;
  columns: 2 250px;
  background-color: #F3F6F7;
  grid-area: main;
  height: auto;
  padding: 2em;
}

.main__article {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  break-inside: avoid;
  margin-bottom: 30px;
  min-height: 100px;
  padding: .25em;
  width: 100%;
}

.main__userPrompt {
  background-color: #FAFDFF;
  border: 2px dashed lightgrey;
  break-inside: avoid;
  height: 300px; 
  min-height: 100px;
  padding: .25em;
  padding: 1em;
  width: 100%;
}

.hidden {
  display: none;
}

.userPrompt__para {
  color: lightgrey;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}

.main__para {
  margin: 0;
}

.card__header {
  border-bottom: 1px solid #C7D3D6;
  padding: .5em;
}

.card__headerTitle {
  color: #1F1D3D
  font-size: 1.25em;
  font-weight: 800;
  margin:0;
}

.card__main {
  padding: .5em;
}

.card__mainUl {
  margin: 0;
  padding: 0;
  width: 100%;
}

.card__mainLi {
  display: flex;
  padding: .5em 0 .5em 0;
}

.card__mainImg {
  height: 20px;
  margin-right: .5em;
  width: 15px;
}

.card__mainPara {
  margin: 0;
}

.card__footer {
  border-top: 1px solid #C7D3D6;
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

.card__footerMsg {
  margin: 0;
}

.card__footerBtn {
  border: none;
  height: 30px;
  margin-left: .5em;
  padding: .25em;
  width: 30px;
}

.card__footerImg {
  height: 20px;
  width: 20px;
}

/*-------------Urgent Card----------------*/

.urgent__card {
  background-color: #FFE89D;
  border: 2px solid #FFC30C;
}

.urgent__card header {
  border-bottom: 1px solid #FFC30C;
}

.urgent__card footer {
  border-top: 1px solid #FFC30C;
}

.urgent__card .card__footerMsgUrgent {
  color: #B23A25;
}

.urgent__card button {
  background-color: #FFE89D;
}

.urgent__card img.card__footerUrgent {
  content: url('images/urgent-active.svg');
}