* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*------------------Body------------------*/

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 10%; 
  grid-template-areas: 
    "header header header"
    "nav main main"
    "nav main main";
}

/*-------------------Header----------------*/

.page__header {
  grid-area: header;
  grid-template-rows: 10%;
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: .75em;
}

.header__h1 {
  font-size: 2.5em;
  color: white;
  font-weight: 800;
}

.header__span {
  color: #FFC20C;
}

.header__div {
  height: 100%;
  width: 25%;
  display: flex;
}

.header__input {
  width: 100%;
  border:1px solid white;
  border-radius: 0 3px 3px 0;
}

.header__img {
  height: 100%;
  width: 60px;
  padding: .75em;
  background-color: #C8D3D9;
  border-radius: 3px 0 0 3px;
}

/*-------------------Nav----------------*/

.nav {
  grid-area: nav;
  background-color: #587A8A
}

.form__btns {
  height: 50px;
  color: white;
  background-color: #1F1F3D;
  border-color: #1F1F3D;
  border-radius: 3px;
  font-size: 1.5em;
}

.form__inputs {
  height: 50px;
  border-radius: 3px;
  border: 2px solid #1F1F3D;
}

.nav__form {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form >* {
  margin: 1em 0 1em 0;
}

.form__labels {
  color: #F3F6F7;
  margin-bottom: 0;
}

.form-btns {
  color: white;
  background-color: #1F1F3D;
  border-color: #1F1F3D;
}

.form__div {
  display: flex;
}

.div__imgs {
  height: 50px;
  width: 50px;
  padding: .5em;
  background-color: #1F1F3D;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.div__inputAddTask {
  width: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 2px solid #1F1F3D;
}

.form__btnsClear {
  margin-bottom: 0;
}

hr {
  border-color: #3E6577;
}

.form__divFilter {
  padding: 1em;
}

.form__btnsFilter {
  width: 100%;
}

/*-------------------Main----------------*/

.main {
  grid-area: main;
  padding: 2em;
  padding: 30px;
  height: auto;
  columns: 2 250px;
  column-gap: 30px;
}

.main__article{
  width: 100%;
  border: 2px solid #C7D3D8;
  padding: 10px 0 0 0;
  min-height: 250px;
  background-color: #FAFDFF;
  margin-bottom: 30px;
  break-inside: avoid;
}

.main__para {
  margin: 0;
}

.card__header {
  padding: .5em;
  border-bottom: 1px solid #C7D3D6;
}

.card__headerTitle {
  margin:0;
  font-weight: 800;
  font-size: 1.25em;
  color: #1F1D3D
}

.card__mainImg {
  height: 15px;
  width: 15px;
  margin-right: .5em;
}

.card__main {
  padding: .5em;
}

.card__mainDiv {
  display: flex;
  align-items: center;
}

.card__footer {
  border-top: 1px solid #C7D3D6;
  padding: .5em;
  display: flex;
  justify-content: space-between;
}

.card__footerMsg {
  margin: 0;
}

.card__footerBtn {
  height: 20px;
  width: 20px;
  margin-left: 30%;
}