* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*------------------Body------------------*/

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 10%; 
  grid-template-areas: 
    "header header header"
    "nav main main"
    "nav main main";
}

/*-------------------Header----------------*/

.page-header {
  grid-area: header;
  grid-template-rows: 10%;
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: .75em;
}

h1 {
  font-size: 2.5em;
  color: white;
  font-weight: 800;
}

#h1-span {
  color: #FFC20C;
}

#header-input-container {
  height: 100%;
  width: 25%;
  display: flex;
}

#search-input {
  width: 100%;
}

#search-input-btn {
  height: 100%;
  width: 60px;
  padding: .5em;
  background-color: #F3F6F7;
}

/*-------------------Nav----------------*/

nav {
  grid-area: nav;
  background-color: #587A8A
}

.nav-btns {
  height: 50px;
  color: white;
  background-color: #1F1F3D;
  border-color: #1F1F3D;
  border-radius: 3px;
  font-size: 1.5em;
}

.nav-inputs {
  height: 50px;
  border-radius: 3px;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form >* {
  margin: 1em 0 1em 0;
}

.form-labels {
  color: #F3F6F7;
  margin-bottom: 0;
}

.form-btns {
  color: white;
  background-color: #1F1F3D;
  border-color: #1F1F3D;
}

#add-task {
  display: flex;
}

#add-task-item-btn {
  height: 50px;
  width: 50px;
  padding: .5em;
  background-color: #1F1F3D;
}

#add-task-item-input {
  width: 100%;
}

#clear-btn {
  margin-bottom: 0;
}

#filter-btn-container {
  padding: 1em;
}

#filter-btn {
  width: 100%;
}

/*-------------------Main----------------*/

main {
  grid-area: main;
  padding: 2em;
}

main article{
  columns: 2 40%;
  column-gap: 1em;
  width: 50%;
}

article {
  border: 1px solid red;
}

article p {
  margin: 0;
}

.task-list-btn {
  height: 20px;
  width: 20px;
  margin-left: 30%;
}

#task-list-header {
  padding: .5em;
  border-bottom: 1px solid gray;
}

#task-list-title {
  margin:0 .5em 0 .5em;
}

#checkbox-status-svg {
  height: 15px;
  width: 15px;
}

#task-list-footer {
  border-top: 1px solid gray;
  padding: .5em;
  display: flex;
  justify-content: space-between;
}
